# Helpful examples

These should come in handy when completing the assignment.

## Test reading a `csv`-file

* make a folder in the `notebooks`-directory called: `assignment`
* copy the `csv`-file containing your family's birth dates into it

In [1]:
# assign the path to the csv-file to the variable 'path_to_csv'
path_to_csv = 'assignment/birth.csv'

In [9]:
# open the csv-file for reading
# fp is a "file pointer" to the data payload of the file (text)
fp = open(path_to_csv, 'r')

In [10]:
# read the contents of the file into a new variable, 
file_cont = fp.read()

# REMEMBER TO CLOSE the file (more critical when writing)
fp.close()

In [12]:
# see what we got
file_cont

'name,birthdate,birthplace\nMichael Bailey,1948,Bishop Auckland (UK)\nPirkko Veijola-Bailey,1953,Oulu (FIN)\nJennifer Bailey,1981,Helsinki (FIN)\nAlbert Pallesen,2002,Helsinki (FIN)\nLinus Pallesen,2006,Aarhus (DK)\nRosa Pallesen,2008,Aarhus (DK)\n'

In [13]:
type(file_cont)

str

### Read file line-by-line

In [15]:
fp = open(path_to_csv, 'r')

Exute the following cell repeatedly until you no longer get anything out of the file (Control-Enter will be useful)

In [27]:
line = fp.readline()
print(line)

In [28]:
fp.close()

### Read the file into a list of lines

In [29]:
fp = open(path_to_csv, 'r')
all_lines = fp.readlines()
fp.close()

In [30]:
type(all_lines)

list

In [37]:
all_lines  # show them

['name,birthdate,birthplace\n',
 'Michael Bailey,1948,Bishop Auckland (UK)\n',
 'Pirkko Veijola-Bailey,1953,Oulu (FIN)\n',
 'Jennifer Bailey,1981,Helsinki (FIN)\n',
 'Albert Pallesen,2002,Helsinki (FIN)\n',
 'Linus Pallesen,2006,Aarhus (DK)\n',
 'Rosa Pallesen,2008,Aarhus (DK)\n']

In [36]:
type(all_lines[1])  # what type is the 2nd element of the list?

str

In [34]:
all_lines[1]  # hi Dad!

'Michael Bailey,1948,Bishop Auckland (UK)\n'

## Split a string at a character

Let's make a list of all birth dates. For this, we want to

* loop over all lines, _starting from the 2nd line_ (1st is the column names)
* split each line on the comma (`,`)
    * this creates a list of length 3 for name, date and place
* print the 2nd element of the split-list

In [38]:
# test the split-method
all_lines[1].split(',')

['Michael Bailey', '1948', 'Bishop Auckland (UK)\n']

In [40]:
# loop from the 2nd element, to the end
# use the 'slice'-notation [1:], meaning "from index 1 to end"
for li in all_lines[1:]:
    split_line = li.split(',')
    print(split_line[1])

1948
1953
1981
2002
2006
2008

## Strings can be _sliced_: they're _lists of characters_

Repeat the above, but now only print the _third and fourth_ digits of the birth year!

In [41]:
for li in all_lines[1:]:
    split_line = li.split(',')
    print(split_line[1][2:])  # NB: [1][2:]

48
53
81
02
06
08

Since `split_line[1]` is a string, `split_line[1][2:]` reads:

>show the characters from the third element of the string `split_line[1]` to the end